.aboutPage {
    background: radial-gradient(circle, rgb(80, 80, 80) 0%, rgb(10, 10, 10) 99.4%);
}

.Desc * {
    font-size: 1.5vw;
    font-family: Cutive Mono;
    color: rgb(209, 207, 207);
}

.line {
    transition: background-color 0.1s ease-in-out;
}

.line:hover {
    background-color: rgba(128, 128, 128, 0.2);
}